@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Noto Serif', serif;
    margin: 0;


}

/* --------Heading section of the site--------- */
header {
    background-color: black;
    display: flex;
    border-radius: 30px;
    width: 100%;
    overflow-x: hidden;

}


.head {
    color: white;
    width: 50%;
    padding-top: 50px;
    padding-left: 50px;
}

.head img {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 4em;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;

}

p {
    font-size: 1.2em;
    line-height: 25px;
    margin-bottom: 25px;

}

.button {
    background-color: orangered;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;

}

.head .button:hover {
    background-color: mediumpurple;
    transform: scale(1.1);


}

/* --------------------Main section------------------- */
main {
    display: flex;
    margin: 100px 100px;
    width: 100%;


}

.upcoming-matches {
    flex-grow: 1;
}


nav div {
    display: flex;



}

nav div div {
    list-style: none;
    margin: 20px 40px 20px 20px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    height: 64px;
    width: 240px;



}

nav div a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-align: center;
}

nav div div:hover {
    background-color: red;
}


/* ------Upcoming Matches------ */
.upcoming-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
}

.match {
    border: 1px solid burlywood;
    border-radius: 10px;
    padding: 10px;
}

.match-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countries {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.countries img {
    height: 30%;
    width: 30%;
}

.match-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






/* --------View Button----- */
.view-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* -----------Footer----------- */
footer {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 200px;
    width: 100vw;

}

footer h1 {
    text-align: center;
}

hr {
    width: 70%;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 50px;


}

footer .services,
.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.icon {
    margin-top: 30px;
}

.icon div a {
    color: white;
}

footer .services div,
.icon div {
    margin-right: 30px;
}

.fa-facebook-square,
.fa-twitter,
.fa-instagram,
.fa-youtube {
    font-size: 20px;
}

/* ----Media quires for mobile---------*/
@media only screen and (max-width:576px) {
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;
    }

    .head {
        text-align: center;

    }

    .head img {
        width: 100%;
        height: 100%;
    }


    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;
        margin-left: 0;
    }

    nav div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .upcoming-matches {
        display: flex;
        flex-direction: column;


    }



    .view-more {
        display: none;
    }


    footer .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* -------------Media quires for Tablet--------------- */
@media only screen and (min-width:577px) and (max-width:992px) {
    header {
        width: 80%;
        height: 100%;
        margin: 100px;
        overflow: hidden;
    }

    .head {
        width: 50%;
        padding-left: 10px;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 80%;
        overflow: hidden;
    }

    nav div {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .upcoming-matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }



    footer .services {
        display: flex;
        flex-wrap: wrap;

    }


}


/* -------------Media quires for Laptop-------------- */
@media only screen and (min-width:993px) {
    header {
        width: 80%;
        margin-left: 100px;
        margin-right: 100px;
        overflow: hidden;
    }

    main {
        width: 80%;
        overflow: hidden;

    }

    .head {
        padding-top: 100px;
    }

    nav div {
        display: flex;
        flex-direction: column;
        width: 312px;

    }


    .nav-button {
        background-color: lightblue;
        height: 312px;
        width: 312px;
        margin-right: 50px;
        border-radius: 10px;
    }




    .view-more {
        display: none;
    }




}